* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: 0;
}

@media (prefers-reduced-motion: reduce) {
 .carousel-item {
        transition: .6s ease-in-out;
    }
}

body {
    background-color: black;
    color: white;
}

.container-fluid {
    padding: 0;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #181818;
    color: #fadd00;
}

.dropdown-item:active, .dropdown-item.active {
    background-color: #fadd00;
    color: black;
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    margin: 1rem auto;
}

.titulo strong {
    color: #fadd00;
    font-weight: 600;
}

.carousel-caption {
    top: 35vh;
    height: fit-content;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, .7);
}

.controles {
    margin-top: 25vh;
}

.carousel-item {
    min-height: 75vh;  
}

.carousel-item img {
    min-height: 75vh;
    object-fit: cover;
    object-position: center;
}

.carousel-caption ul {
    text-align: left;
}

.carousel-caption strong {
    color: #fadd00;
}

.carousel-caption h5 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #fadd00;
}

#estudio p {
    margin: .1rem 0;
}

#estudio strong {
    text-transform: uppercase;
}

.saibaMais {
    background-color: black;
    color: white;
    width: 160px;
    height: 40px;
    padding: 5px 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    transition: .75s;
}

.saibaMais:hover{
    text-decoration: none;
    color: black;
    background-color: #fadd00;
}

.saibaMais:focus {
    background-color: #fadd00;
    box-shadow: none;
    color: black;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    background-color: #fadd00;
}

.mainTitle{
    color: white;
    margin: 1.25rem 0;
    font-size: 22pt;
    text-align: center;
    text-transform: uppercase;
}

#sobre {
    margin-bottom: 1.5rem;
}

#servicos {
    background-color: #fadd00;
}

#servicos .row {
    margin: 0 7vw;
}

#servicos a {
    color: black;
    margin-bottom: 1.5rem;
}

#servicos a:hover {
    text-decoration: none;
    color: white;
}

#servicos i {
    display: block;
    font-size: 22pt;
    border: 2px solid black;
    border-radius: 100%;
    padding: 1rem;
    min-width: 70px;
    max-width: 70px;
    text-align: center;
    margin: 0 1rem;
}

#servicos i:hover {
    border: 2px solid white;
}

#servicos span {
    font-size: 10pt;
    margin-top: .5rem;
}

#contato a {
    color: white;
    text-decoration: none;
}

#contato i {
    font-size: 22pt;
}

#alunos {
    background-color: #212121;
}

.card-deck {
    max-width: 75%; 
    margin: 1rem auto;
}

#diferenciais ul {
    list-style-type: none;
}

#diferenciais ol {
    margin-left: 2.75rem;
}

#diferenciais ol li::marker {
    color: #fadd00;
    font-weight: bold;
}

#diferenciais ol li span{
    color: #fadd00;
}

#diferenciais li {
    margin: .25rem 0;
}

#diferenciais small {
    color: #181818 !important;
    font-weight: bold;
    text-transform: uppercase;
}

#diferenciais .card-text {
    text-align: justify;
}

#diferenciais .card {
    min-height: 23rem;
    max-height: 24rem;
}

.card-head {
    display: flex;
    align-items: center;
}

.card-head i {
    font-size: 8pt;
    margin-right: .25rem;
}


.matricula {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    width: 160px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    transition: .75s;
}

.matricula:hover {
    background-color: #fadd00;
    color: black;
}

.matricula:focus {
    background-color: #fadd00;
    color: black;
    box-shadow: none;
}

.card {
    color: #181818;  margin: 1rem auto;
}

.cardDublagem {
    background-color: #181818;
    color: #FFF;
    width: 100%;
    text-align: center;
    padding: .5rem;
}

#dubDesc {
    font-size: 16pt;
}

.prof {
    color: black;
    text-decoration: none;
    font-size: 14pt;
}

.prof:hover {
    color: #fadd00;
    text-decoration: none;
}

.p {
    font-size: 18pt;
}

.convidando {
    font-size: 16pt;
    font-weight: bold;
    margin-right: 1rem;
}

.card a:hover {
    text-decoration: none;
}

.card .card-title {
    text-align: center;
}

.card-deck .port a i {
    font-size: 26pt;
    color: rgba(250, 221, 0, 0);
    position: absolute;
    top: 46.5%;
    left: 46.5%;
}

.card-deck .port:hover {
    opacity: 0.7;
}

.card-deck .port:hover a i {
    color: rgba(250, 221, 0, 1);
}

.card-deck .port h5 {
    text-align: center;
}

.textoDuble {
    font-size: .9rem;
}

@media(max-width: 1199px) {
    .midias {
        justify-content: center !important;
    }
}

/* Responsive Tablet*/
@media(max-width: 768px){
    /*Home*/
    #rodape1 {
        justify-content: center;
    }

    #rodape1 .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    #logo2 {
        display: none !important;
    }

    /*Dub & Teatro*/
    #sobreCurso .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #sobreCurso .col-md-6 p {
        margin-right: 0 !important;
    }

    /* curso dub */
    #diferenciais .card-text {
        font-size: 10pt;
        text-align: left;
        flex-wrap: nowrap;
        margin-bottom: 0;
    }

    #diferenciais .card {
        height: 375px;
    }

    #dubDesc {
        font-size: 12pt !important;
    }

    .p {
        font-size: 14pt;
    }
}

@media(max-width: 426px){
    /*Home*/
    p{
        margin-right: 0 !important;
    }

    h1 {
        font-size: 2.25rem;
    }

    .carousel-caption ul {
        display: none;
    }

    #Somos {
        display: none !important;
    }

    .carousel-item {
        min-height: 50vh;
    }

    .carousel-item img{
        min-height: 50vh;
    }

    .controles {
        margin-top: 0;
    }

    .slogan {
        font-size: 10pt !important;
        margin: 0.5rem !important;
        display: none;
    }

    .carousel-caption {
        top: 2.5vh !important;
        padding: 1rem 0.25rem;
        bottom: 10px;
        background-color: transparent;
        height: 90%;
        justify-content: space-between;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-caption h5 {
        margin-bottom: 5px;
        font-size: 14pt;
        background-color: rgba(0, 0, 0, .75);
        padding: .5rem 0;
    }

    .carousel-caption li {
        font-size: 7pt;
    }

    .carousel-caption .slide3 {
        font-size: 7pt;
    }

    #servicos .container{
        visibility: hidden;
        height: 30px;
    }

    #servicos .container .row .d-flex{
        display: none !important;
    }

    #rodape1 .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #rodape1 .col-md-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #rodape1 .col-md-5 a {
        margin-top: 1rem;
    }

    #rodape1 .col-md-5 div {
        margin-top: 1rem;
    }

    #date strong {
        font-size: 10pt;
        text-align: center;
    }

    /*Dub*/
    .mainTitle {
        font-size: 18pt;
    }
    
    #SairCell {
        display: none;
    }

    #alunos .row {
        display: block;
    }

    #diferenciais .card-text {
        font-size: 9pt !important;
        text-align: left;
        margin-bottom: 1rem !important;
    }

    #diferenciais .card {
        min-height: 22.5rem;
        max-height: 22.5rem;
    }

    .card-head .card-title {
        font-size: 12.5pt;
        gap: 5px;
    }

    #dubDesc {
        font-size: 12.5pt !important;
    }

    #reverso {
        flex-direction: column-reverse;
    }

    .convidando {
        font-size: 14pt;
    }

    .teatroTitulo {
        font-size: 1.75rem;
    }

    #diferenciais li {
        margin: 1rem 0;
    }

    #diferenciais ol li::marker {
        margin-right: 1rem;
    }
}